.panel {
  border: 1px solid #d3d3d3;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.interiorPanel {
  width: calc(100% - 18px);
  height: 100%;
}

.iframePanel {
  flex-grow: 1;
  width: 100%;
  border-style: none;
}

.iconBar {
  width: 100%;
  height: 15px;
  flex-grow: 0;
}

.resizeIcon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 15px;
  width: 15px;
}

.closeIcon {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 15px;
  width: 15px;
}

#alertLoginFailed {
  visibility: hidden;
  color: red;
}

#menu {
  margin: 20px;
}

#hideShowMenu {
  position: fixed;
  right: 0px;
  top: -8px;
  margin: 20px;
  z-index: 9999;
}

#menuContainer {
  z-index: 9998;
  position: fixed;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  overflow: hidden;
}

#panelContainer {
  width:1200px;
  height:900px;
}

#loadingOverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}

#loadingBox {
  width: 300px;
  height: 200px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 99999;
}
