.panel {
  border: 1px solid #d3d3d3;
  overflow: hidden;
  background: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.interiorPanel {
  height: 100%;
  width: 100%;
}

.iframePanel {
  flex-grow: 1;
  width: 100%;
}

.iconBar {
  background: lightseagreen;
  width: 100%;
  height: 15px;
  flex-grow: 0;
}

.resizeIcon {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#panelContainer {
  background: silver;
  width:1200px;
  height:900px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 999;
}
