#canvasesContainer, .canvasContainer, .individCanvas {
  height: 100%;
  width: 100%;
  position: relative;
}

canvas {
  position: relative;
  z-index: 1;
}

.canvasBar {
  width: 20px;
  z-index: 2;
  position: absolute;
  top: 15;
  left: 15;
}
