#canvasesContainer, .canvasContainer, .individCanvas {
  height: 100%;
  width: 100%;
  position: relative;
}

canvas {
  position: relative;
  z-index: 1;
}

.canvasBar {
  width: 50px;
  z-index: 2;
  position: absolute;
  top: 15;
  left: 15;
  background-color: rgba(112,128,144,0.25);
}

.colorContainer {
  position: relative;
  height: 20px;
}

.colorPicker {
  position: absolute;
  top: 0;
  left: 22px;
  width: 18px;
  height: 18px;
}

.objectMenu {
  height: 0px;
  width: 50px;
  z-index: 2;
  overflow: hidden;
}
