button, select, input, textarea {
  background-color: #21262c;
  color: lightgrey;
  border-color: #4f5964;
}

.bodyStyle {
  background: #21262c;
  color: lightgrey;
}

.bordered {
  border-radius: 0px;
  border-color: #4f5964;
  border-width: thin;
  border-style: solid;
}

.colorAccentBG {
  background: darkslategrey;
}

.darkAccentBG {
  background: #161a1d;
}

.lightAccentBG {
  background: #2d3239;
}

.lightestAccentBG {
  background: #394048;
}

.lightFontColor {
  color: white;
}

.darkFontColor {
  color: grey;
}

.linkFontColor {
  color: skyblue;
}

.warningFontColor {
  color: #ff3333;
}
