.bodyStyle {
  background: lightgrey;
  color: black;
}

.bordered {
  border-style: solid;
  border-width: thin;
  border-color: #a6a6a6;
}

.colorAccentBG {
  background: lightseagreen;
}

.darkAccentBG {
  background: #a6a6a6;
}

.lightAccentBG {
  background: #e1e6ea;
}

.lightestAccentBG {
  background: white;
}

.lightFontColor {
  color: #34383E;
}

.darkFontColor {
  color: black;
}

.linkFontColor {
  color: midnightblue;
}
