button {
  background-color: ;
  color: ;
  border-color: ;
}

select {
  background-color: ;
  color: ;
  border-color: ;
}

.bodyStyle {
  background: ;
  color: ;
}

.bordered {
  border-radius: ;
  border-color: ;
  border-width: ;
  border-style: ;
}

.colorAccentBG {
  background: ;
}

.darkAccentBG {
  background: ;
}

.lightAccentBG {
  background: ;
}

.lightestAccentBG {
  background: ;
}

.lightFontColor {
  color: ;
}

.darkFontColor {
  color: ;
}

.linkFontColor {
  color: ;
}
